<ion-modal-view view-title="添加信息">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">添加信息</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">姓名</span>
        <input ng-model="newTask.name" type="text">
        <input ng-model="newTask.parents" type="hidden">
        <input ng-model="newTask.clanId" type="hidden">
      </label>
      <label class="item item-input">
        <span class="input-label">分支</span>
        <input ng-model="newTask.branch" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">年龄</span>
        <input ng-model="newTask.age" type="text">
      </label>
      
      <label class="item item-input item-select">
		<div class="input-label">性别</div> 
		<select ng-model="newTask.gender" >
			<option>男</option>
			<option>女</option>
			<option>保密</option>
	    </select>
	  </label>
      
	  <label class="item item-input">
        <span class="input-label">生辰</span>
        <input ng-model="newTask.birthday" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">头像</span>
        <input ng-model="newTask.pic" type="text">
      </label>
	  <label class="item item-input">
        <span class="input-label">简介</span>
        <textarea ng-model="newTask.introduction" placeholder="introduction"></textarea>
      </label>

      <div class="list">
        <div class="item item-divider"> 
          	父级: {{ newTask.pName }}
        </div>
      <label class="item item-input item-select">
		<div class="input-label">关系</div> 
		<select ng-model="newTask.relation" >
			<option>夫妻</option>
			<option>子女</option>
			<option>父母</option>
			<option>宗族</option>
	    </select>
	  </label>
	          
      <!--   
         <div class="item item-divider"> 
          	关系: {{ newTask.relation }}
        </div>
        
        <ion-radio ng-repeat="item in relationList"
                   ng-value="item.value"
                   ng-model="newTask.relation"
                   ng-change="relationChange(item)"
                   name="relation">
          {{ item.text }}
        </ion-radio>
        
      </div>
 	 -->
	
	<button class="button button-full button-positive" ng-click="createContact(newTask)">Create</button>
    </div>	
  </ion-content>
</ion-modal-view>