<ion-view view-title="OST Team">
  <ion-content>

	<div class="card">
		<ion-item class="item item-avatar" href="#/app/profile/{{infos.results.id}}_{{infos.results.id}}"> <img ng-src="{{infos.results.mInfo.pic}}">
		<h2>{{infos.results.fullName}} ({{infos.results.surname}}氏宗谱 第 {{infos.results.generations}}  世代)</h2>
		<p>{{infos.results.wifeOrHasbandNames}}</p>
		<p>膝下共   {{infos.results.posteritys}}  位子孙</p>
		</ion-item>
	</div>
	  
    <ion-list>
      <ion-item ng-repeat="profilelist in infos.results.cInfos" class="item item-avatar" href="#/app/profile/{{profilelist.id}}_{{infos.results.id}}">
		   <img ng-src="{{profilelist.pic}}">
		   <h2>姓名: {{profilelist.name}}	 &nbsp; &nbsp;( {{profilelist.relation}} )</h2>
		  <p>简介: ({{profilelist.introduction}})</p>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
