<ion-view view-title="info">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img src="{{info.results.mInfo.pic}}">
    <h2>{{info.results.fullName}}</h2>
    <p>{{info.results.surname}}氏宗谱 第 {{info.results.generations}}  世代</p>
    <p>{{info.results.wifeOrHasbandNames}} &nbsp;&nbsp;&nbsp;&nbsp;膝下共   {{info.results.posteritys}}  位子孙</p>
    <p></p>
  </div>

  <div class="item item-body">
    <img  src="{{info.results.mInfo.pic}}" >
    <p>
      {{info.results.mInfo.introduction}}
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#/app/edit/{{info.results.mInfo.id}}"> <i class="icon ion-thumbsup"></i> Edit </a>
	<a class="tab-item" href="#/app/add/{{info.results.mInfo.id}}"> <i class="icon ion-chatbox"></i> Add</a>
    <a class="tab-item" href="#/app/remove/{{info.results.mInfo.id}}"> <i class="icon ion-share"></i>Remove</a>
  </div>

</div>

  </ion-content>
</ion-view>
