<ion-view view-title="Profile">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img src="{{profile.results.mInfo.pic}}">
    <h2>{{profile.results.fullName}}</h2>
    <p>({{profile.results.surname}}氏宗谱 第 {{profile.results.generations}}  世代)</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{profile.results.mInfo.pic}}">
    <p>
      {{profile.results.mInfo.introduction}}
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
	<a class="tab-item" href="#/app/add/{{profile.results.mInfo.id}}"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>





</div>

  </ion-content>
</ion-view>
